#demo1{
    border: 10px dotted black;
    padding : 15px;
    background-repeat: no-repeat;
    background: url(bridge.jpg);
    background-origin: border-box;
}

#demo2{
    border: 10px dotted black;
    padding : 20px 40px 40px 20px;
    background: url(bridge.jpg);
    background-origin: padding-box;
    background-repeat: no-repeat;
}

#demo3{
    border: 10px dotted black;
    margin: 30px 20px 20px 30px;
    background-image: url(bridge.jpg);
    background-origin: content-box ;
    /* position: absolute; */
    /* position: relative; */
}  

#demo4{
    background: fixed;
                     
}            
body{
    
    /* opacity: 0.5; */
}                                                  